---
layout: default.hbs
---

<section class="bg-success py-5">
	<div class="container">
		<div class="row align-items-center py-5">
			<div class="col-md-8 text-white">
				<h1>Over ons</h1>
				<p>
					Welkom bij {{site.title}}! Wij zijn een kleine zelfstandige onderneming die gespecialiseerd is in het verhuren van feestmateriaal in de regio Deinze, Zulte en Waregem. Wat ons uniek maakt, is dat we ons materiaal hebben opgebouwd vanuit onze eigen ervaring in het organiseren van feesten.
				</p>
				<p>
					Of je nu een intieme bijeenkomst in de tuin organiseert of een groter feest op een speciale locatie, we helpen u graag met het benodigde feestmateriaal. We werken met flexibele huurperiodes en hanteren redelijke tarieven, zodat ook kleinere evenementen kunnen genieten van kwalitatief hoogwaardig materiaal.
				</p>

				<a class="btn btn-success shadow" href="{{rootPath}}portfolio.html">Onze realisaties</a>
			</div>
			<div class="col-md-4">
				<img src="icons/favicon.svg" alt="About Hero" style="width: 100%; filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);">
			</div>
		</div>
	</div>
</section>
<!-- Close Banner -->

<!-- Start Section -->
<section class="container py-5">
	<div class="row text-center pt-5 pb-3">
		<div class="col-lg-6 m-auto">
			<h1 class="h1">Onze diensten</h1>
			<p>
				Bij {{site.title}} streven we naar tevreden klanten en een persoonlijke benadering. We zijn trots op ons feestmateriaal en willen jou helpen om van jouw feest een onvergetelijke ervaring te maken. Neem vandaag nog contact met ons op en ontdek hoe we je kunnen ondersteunen bij het realiseren van jouw feestplannen. We kijken ernaar uit om met je samen te werken!
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-lg-3"></div>

		<div class="col-md-6 col-lg-2 pb-5">
			<div class="h-100 py-5 services-icon-wap shadow">
				<div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
				<h2 class="h5 mt-4 text-center">Flexibiliteit</h2>
			</div>
		</div>

		<div class="col-md-6 col-lg-2 pb-5">
			<div class="h-100 py-5 services-icon-wap shadow">
				<div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
				<h2 class="h5 mt-4 text-center">Levering</h2>
			</div>
		</div>

		<div class="col-md-6 col-lg-2 pb-5">
			<div class="h-100 py-5 services-icon-wap shadow">
				<div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
				<h2 class="h5 mt-4 text-center">Snelle Service</h2>
			</div>
		</div>
	</div>

	<div class="row text-center pt-5 pb-3">
		<div class="col-lg-6 m-auto">
			<h1 class="h1">Levering</h1>
			<p>
				We kunnen de levering van al onze artikelen regelen indien gewenst. Houd er rekening mee dat er een leveringskost van €3 per kilometer in rekening wordt gebracht. Laat het ons weten als je gebruik wilt maken van deze service, zodat we de levering nauwkeurig kunnen plannen en je feestlocatie op tijd kunnen voorzien
			</p>
		</div>
	</div>
</section>
<!-- End Section -->
